/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--accent-color-text);
}

.page {
  background-image: var(--cover-image);
  background-color: var(--background-color);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "IBM Plex Mono", sans-serif;
  line-height: 23.4px;
  font-size: 1rem;
  color: var(--color-text);
}

header {
  --margin: 10px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  /* 668px - фактически 20px так как есть margin */
  block-size: max(
    calc(668px - (var(--margin) * 2)),
    calc(100vh - (var(--margin) * 2))
  );
  margin-inline: var(--margin);
  margin-block: var(--margin);
}

.decorated-zone::before {
  content: "";
  block-size: 25px;
  inline-size: 25px;
  border-block-end: 1px solid var(--title-color);
  border-inline-start: 1px solid var(--title-color);
  position: absolute;
  left: 0;
  bottom: 0;
}

.decorated-zone::after {
  content: "";
  block-size: 25px;
  inline-size: 25px;
  border-block-start: 1px solid var(--title-color);
  border-inline-end: 1px solid var(--title-color);
  position: absolute;
  right: 0;
  top: 0;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column; /* меняется с размером */
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--title-color);
  background-color: transparent;
  text-transform: lowercase;
  text-align: center;
  padding-inline: 13px;
  padding-block: 3px;
  line-height: 18px;
  letter-spacing: 0;
  /* я хз как подругому сделать иначе кнопки съезжают это ведь костыль? */
  border: 1px solid transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--title-color-alpha);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--title-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--title-color);
}

.rec {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--accent-color);
  font-size: 1rem;
  text-transform: uppercase;
  margin-inline-end: 18px;
  line-height: 25px;
}

.rec::after {
  content: "";
  display: inline-block;
  position: relative;
  left: 9px;
  bottom: 2px;
  border-radius: 50%;
  background-color: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header-title {
  /*немного поменял формулу так как поменял в html размер текст на 18px соответственно и rem поменялся*/
  font-size: clamp(
    calc(7.25rem * 16 / 18),
    calc(7.0115rem * 16 / 18) + 1.0178vw,
    calc(7.5rem * 16 / 18)
  );
  color: var(--big-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: start;
  line-height: 83%;
  font-weight: bold;
}

.header-text {
  justify-self: end;
  font-weight: bold;
}

.main {
  display: flex;
  /* маргин от мэйн + маргин заданный хэдэру или футору */
  margin-block: calc(40px + 10px);
  padding-inline: 10px;
  flex-direction: column;
  gap: 50px; /* меняется с размером */
}

.main-item {
  display: grid;
  gap: 20px;
}

.main-title {
  color: var(--title-color);
  font-size: 1rem;
}

.main__section-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__section-item {
}

.main__section-title {
  margin-bottom: 0;
  font-weight: bold;
  background-color: var(--accent-color);
  color: var(--accent-color-text);
  font-size: 1rem;
}

.main__section-item:has(p) .main__section-title {
  margin-bottom: 10px;
}

.main__section-text {
}

.main__section-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.main__section-link:hover {
  border-block-end: 1px solid var(--color-text);
}

.main__section-link:focus {
  outline: none;
}

.main__section-link:focus-visible {
  border: 1px solid var(--color-text);
  outline: none;
}

.main-item-accent .main__section-list {
  /* меняется с размером */
}

h4.main__section-title {
  font-weight: normal;
}

.main-item-img {
  display: flex;
  flex-direction: column;
  gap: 10px; /* меняется с размером */
}

.main__section-img-box {
  /* меняется с размером */
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.main__section-img-box li {
  height: 100%;
}

.main__section-img-box-item {
  /* меняется с размером */
  width: 100%;
  display: block;
  object-fit: cover;
}

.footer {
  --margin: 10px;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  /* 668px - фактически 20px так как есть margin */
  block-size: max(
    calc(668px - (var(--margin) * 2)),
    calc(100vh - (var(--margin) * 2))
  );
  margin-inline: var(--margin);
  margin-block: var(--margin);
}

.footer-title {
  font-size: clamp(
    calc(7.25rem * 16 / 18),
    calc(7.0115rem * 16 / 18) + 1.0178vw,
    calc(7.5rem * 16 / 18)
  );
  color: var(--big-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 83%;
  font-weight: bold;
}

@media (width >= 768px) {
  header {
    --margin: 20px;
  }

  .header-title {
    font-size: clamp(
      calc(7.5rem * 16 / 18),
      calc(0.5625rem * 16 / 18) + 14.4531vw,
      calc(9.8125rem * 16 / 18)
    );
    margin-inline-start: -20px;
  }

  .header-text {
    inline-size: 50%;
  }

  .main {
    margin-block: calc(60px + 20px);
    padding-inline: 20px;
    gap: 80px;
  }

  .main-item {
    /* ширина контэйнера - gap, первая колонка 1/3 вторая 2/3 */
    grid-template-columns: calc((100% - 20px) / 3) calc((100% - 20px) / 3 * 2);
  }

  .main-item-accent .main__section-list {
    grid-column: 1 / 3;
    grid-row: 2 / auto;
  }

  .main-item-img {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .main__section-img-box {
    display: grid;
    gap: 20px;
    /* ширина контейнера - 2 gap  */
    grid-template-columns: repeat(3, calc((100% - 40px) / 3));
  }

  .main__section-img-box li:nth-child(1) {
    grid-column: 1 / 3;
  }

  .main__section-img-box li:nth-child(2) {
    grid-column: 3 / auto;
    grid-row: 1 / 3;
  }

  .main__section-img-box li:nth-child(2) img {
    height: 100%;
  }

  .main__section-img-box li:nth-child(3) {
    grid-column: 1 / auto;
    grid-row: 2 / 4;
  }

  .main__section-img-box li:nth-child(3) img {
    height: 100%;
  }

  .main__section-img-box li:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .main__section-img-box li:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / auto;
  }

  .footer {
    --margin: 20px;
  }

  .footer-title {
    font-size: clamp(
      calc(7.5rem * 16 / 18),
      calc(0.5625rem * 16 / 18) + 14.4531vw,
      calc(9.8125rem * 16 / 18)
    );
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row; /* меняется с размером */
  }

  .main-item-accent .main__section-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
