/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --cover-image: url("../images/cover-image-dark.png");
  --color-text: #F1B2CE;
  --background-color: #000028;
  --accent-color: #FF0070;
  --accent-color-text: #000028;
  --title-color: #FF0070;
  --title-color-alpha: rgba(255, 0, 112, 0.4);
  --big-title-color: #DB00FF;
}